@use "./palette" as *;
@use "./mixins" as *;
@forward "./mixins";
@forward "./palette";

* {
  padding: 0px;
  margin: 0px;
  color: $main;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg;
}

.wrapper {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 18px;
  height: 100vh;

  > h1 {
    font-family: $font2;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    word-wrap: break-word;
    line-height: normal;
  }
}

section {
  display: flex;
  > h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 20px;
    text-decoration: underline;

    &:hover {
      color: $brown-dark;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
}

.input {
  padding-bottom: 20px;

  > .heading {
    background-color: $sub;
    width: 90px;
    border-radius: 15px;
    padding-bottom: 30px;

    > h2 {
      @include h2;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > #btn {
      width: 70px;
      height: 30px;
      border-radius: 4px;
      border: none;
      margin-top: 20px;
    }
  }
}

#inputArea {
  @include textarea;
  position: relative;
  bottom: 30px;
}

#outputArea {
  @include textarea;
}

#clearBtn {
  border: none;
  padding: 10px;
  font-family: $font2;
  letter-spacing: 2px;
  border-radius: 7px;
  color: $light;
  background-color: $sub2;
  font-size: 16px;
  border: 1px solid $sub2;
  height: 50px;

  &:hover {
    color: $sub2;
    background-color: $light;
    border: 1px dashed $sub2;
  }
}

#translateBtn {
  border: none;
  padding: 10px;
  font-family: $font2;
  letter-spacing: 2px;
  border-radius: 7px;
  color: $light;
  background-color: $sub2;
  font-size: 16px;
  border: 1px solid $sub2;
  height: 50px;

  &:hover {
    color: $sub2;
    background-color: $light;
    border: 1px dashed $sub2;
  }
}

.output {
  background-color: $sub;
  width: 187px;
  border-radius: 15px;
  > h2 {
    @include h2;
  }
}

.buttons {
  display: flex;

  &__btn {
    margin: 0px 10px;
  }
}

img {
  padding-top: 5px;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  > h2 {
    @include h2;
    color: $main;
    text-align: center;
    line-height: normal;
    margin-top: 100px;
  }

  .outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      padding: 20px;

      @media (min-width: 750px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      > .grid-item {
        text-align: center;
        padding: 10px 0px;

        > p {
          font-weight: bold;
        }
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $light;
  color: $brown-dark;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border: 1px dotted $sub;
  position: absolute;
  width: 120px;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: small;
}
