$background-primary: #faebd3;
$background-secondary: #fae4a8;

$brown: #962b06;
$brown-dark: #8f6d4c;
$white: #f7f7f0;
$blue: #01affa;
$pink: #fe95b2;
$green: #00cabe;
$yellow: #fddb51;
$red: #ff003a;

$font: "Assistant", sans-serif;
$font2: "Fredoka", sans-serif;

$light: #fffaf8;
$bg: #fdf8ec;
$main: #c69a7f;
$sub: rgb(210, 211, 147);
$sub2: #c9bd7b;
