$background-primary: #faebd3;
$background-secondary: #fae4a8;

$brown: #962b06;
$brown-dark: #8f6d4c;
$white: #f7f7f0;
$blue: #01affa;
$pink: #fe95b2;
$green: #00cabe;
$yellow: #fddb51;
$red: #ff003a;
